html {
  overflow-y: hidden;
  box-sizing: border-box;
}

section {
  margin: 20px 0 0 0;
  height: 85vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  color: var(--color-4-);
}

@media (min-width: 720px) {
  section {
    align-items: center;
  }
}

/* ------------- Container ------------- */

#form-bg-container {
  position: absolute;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  /* box-shadow: 0 0 20px 0 rbga(0, 0, 0, 0.2); */
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  /* box-shadow: 20px, 20px, 50px rbga(0, 0, 0, 0.5); */
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0;
  z-index: 99;
}

.form-container > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: var(--color-4-);
  padding: 20px;
}

@media (min-width: 720px) {
  #form-bg-container {
    width: 638.4px;
  }

  .form-container {
    width: 638.4px;
  }
}
/* ------- About Me---------- */
.about-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.img-container > img {
  max-width: 50vw;
  height: 100%;
}

.about-text {
  padding: 20px 12px;
  color: var(--color-3-);
}

@media (min-width: 400px) {
  .img-container > img {
    width: 200px;
  }

  .about-text {
    padding: 20px 20px;
  }
}
