html {
  overflow-y: hidden;
}

section {
  margin: 20px 0 0 0;
  height: 85vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  color: var(--color-4-);
}

@media (min-width: 720px) {
  section {
    align-items: center;
  }
}

/* Form */

.form-container {
  width: 95%;
  background: var(--color-2-);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0;
  box-shadow: 0 0 25px 0 #66fcf125;
}

.form-container > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: var(--color-3-);
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

form > input,
form > textarea {
  background: transparent;
  color: var(--color-4-);
  border-bottom: solid 1px var(--color-4-);
  padding-top: 2rem;
  outline: none;
}

form > input {
  line-height: 2rem;
}

.button-ctr {
  display: flex;
  justify-content: center;
}

button {
  padding: 12px 40px;
  margin-top: 20px;
  border: solid 2px var(--color-5-);
  border-radius: 0.5rem;
  background: var(--color-2-);
  color: var(--color-5-);
  font-family: "Gemunu Libre", Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

button:hover {
  color: var(--color-2-);
  background-color: var(--color-5-);
}

@media (min-width: 720px) {
  .form-container {
    width: 638.4px;
  }
}
