#contact-section {
  height: 100vh;
  width: 100vw;
  background-color: var(--background-contact-);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#form-bg-container {
  width: 95%;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.2);
  /* backdrop-filter: blur(5px); */
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

#section-container-contactForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 95%;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.1rem;
  width: 80%;
}

.form-container > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: var(--section-h1-);
  padding: 20px;
}

@media (min-width: 720px) {
  #section-container-contactForm {
    width: 60%;
  }
}

@media (min-width: 1020px) {
  #section-container-contactForm {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  #section-container-contactForm {
    width: 40%;
  }

  .form-name--ctr {
    display: flex;
    justify-content: space-between;
  }

  .form-name--ctr > div {
    width: 45%;
  }
}

/* Form */

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 0;
}

form div {
  width: 100%;
  padding-bottom: 20px;
}

form label {
  color: var(--form-label-text-);
}

form input,
form textarea {
  border: none;
  background: transparent;
  outline: none;
  width: 100%;
  color: var(--form-input-text-);
}

form textarea {
  border-bottom: solid 1px var(--form-input-border-);
}

form input {
  line-height: 2rem;
  border: none;
  border-bottom: solid 1px var(--form-input-border-);
}

.button-ctr {
  display: flex;
  justify-content: center;
}

button {
  padding: 12px 40px;
  margin-top: 20px;
  /* border: solid 2px var(--btn-border-); */
  border: none;
  border-radius: 0.5rem;
  background: var(--btn-background-);
  color: var(--btn-text-);
  font-family: "Gemunu Libre", Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

button:hover {
  color: var(--color-2-);
  background-color: var(--btn-background-hover-);
}

/* Copywrite */
#copywrite {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Audiowide", cursive;
  font-size: 0.8rem;
}
#copywrite span {
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
}
