/* Nav Bar */
nav {
  height: 7vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 99;
  background: var(--nav-background-clr-);
}

nav.transparent {
  background: transparent;
}

#nav-insideContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  position: fixed;
  z-index: 99;
  padding: 0 30px;
  position: sticky;
}

.navbar-menu {
  display: none;
}

.navbar-social {
  display: none;
}

.navbar-logo--container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  color: var(--logo-text-);
  font-size: 1.6rem;
  text-decoration: none;
  font-family: "Audiowide", cursive;
}

.logo:hover {
  color: var(--logo-text-hover);
}

.logo:hover > * {
  color: var(--logo-span-hover-);
}

.logo.logo-change {
  color: var(--color-5-);
}

.logo-span {
  font-size: 1.1rem;
  color: var(--logo-span-);
  font-family: "Audiowide", cursive;
}

.fa-bars {
  color: var(--color-5-);
  font-size: 1.5rem;
}

.navbar-contents li,
.navbar-contents li a {
  text-decoration: none;
  list-style-type: none;
  color: var(--nav-text-);
  font-size: 1.6rem;
  text-transform: capitalize;
}

.navbar-contents li a:hover,
.navbar-toggle {
  color: var(--nav-text-hover);
  transition: all 0.3s ease 0s;
}

@media (min-width: 720px) {
  nav {
    background: none;
  }
  #nav-insideContainer {
    position: fixed;
    flex-direction: column;
    width: 170px;
    height: 100vh;
    top: 0%;
    left: 0%;
    background-color: var(--nav-background-clr-);
  }
  .logo {
    white-space: nowrap;
    padding-top: 10px;
  }
  .nav-toggle {
    display: none;
  }

  .fa-bars:hover {
    transition: all 0.3s ease 0s;
  }

  .navbar-toggle {
    display: none;
    align-items: center;
  }

  .navbar-menu {
    display: inline-block;
  }

  .navbar-social {
    display: inline-block;
    width: 170px;
  }

  .navbar-menu ul {
    display: flex;
    flex-direction: column;
  }

  .navbar-social ul {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
  }

  .navbar-social i {
    font-size: 2.5rem;
  }

  .navbar-contents li {
    padding: 15px 0;
  }

  .navbar-contents {
    line-height: 2rem;
  }
}

@media (min-width: 900px) {
  #nav-insideContainer {
    width: 200px;
  }
}
