/* font import */
@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Open+Sans:wght@300&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');

/* Color Palette */
:root {
  --background-: linear-gradient(#1f2833, #1f283395),
    url("/assets/photos/space.jpg");
  --color-1-: #12232e;
  --color-2-: #203647;
  --color-3-: #eefbfb;
  --color-4-: #4da8da;
  --color-5-: #007cc7;
  --color-white-: #eefbfb;
  --logo-text-: var(--color-5-);
  --logo-span-: var(--color-4-);
  --hamburger-: var(--color-4-);
  --nav-text-: var(--color-4-);
  --darkMode-icon-: var(--color-4-);
  --text-name-: var(--color-3-);
  --text-title-: var(--color-5-);
  --text-hello-: var(--color-4-);
  --text-bio-: var(--color-3-);
  --btn-border-: var(--color-5-);
  --btn-background-: var(--color-2-);
  --btn-text-: var(--color-5-);
  --menu-background-: var(--color-2-);
  --menu-text-: var(--color-4-);
  --darkMode-menu-icon-: var(--color-4-);
  --menu-background-: #12232e10;
  --section-labels-: var(--color-4-);
  --section-h1-: var(--color-4-);
  --aboutMe-text-: var(--color-3-);
}

:root[color-mode="light"] {
  --background-: linear-gradient(#eefbfb99, #4da8da99),
    url("/assets/photos/space_lightMode.jpg");
  --color-1-: #12232e;
  --color-2-: #203647;
  --color-3-: #eefbfb;
  --color-4-: #4da8da;
  --color-5-: #007cc7;
  --color-white-: #12232e;
  --logo-text-: var(--color-5-);
  --logo-span-: var(--color-2-);
  --hamburger-: var(--color-2-);
  --darkMode-icon-: var(--color-2-);
  --nav-text-: var(--color-2-);
  --text-name-: var(--color-2-);
  --text-title-: var(--color-5-);
  --text-hello-: var(--color-5-);
  --text-bio-: var(--color-2-);
  --btn-border-: var(--color-4-);
  --btn-background-: var(--color-4-);
  --btn-text-: var(--color-2-);
  --menu-background-: var(--color-3-);
  --menu-text-: var(--color-2-);
  --darkMode-menu-icon-: var(--color-2-);
  --menu-background-: #20364720;
  --section-labels-: var(--color-5-);
  --aboutMe-text-: var(--color-2-);
  --section-h1-: var(--color-5-);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  max-width: 100%;
}

body {
  font-family: "Gemunu Libre", Arial, Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: 0.1rem;
  color: var(--color-white-);
  margin: 1rem 1.5rem;
}

body {
  background: var(--background-);
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  height: 100vh;
  max-height: 100%;
}

/* Header */

.header-textContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 450px;
  height: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
}

.name {
  font-size: 2.5rem;
  color: var(--text-name-);
}

.title {
  color: var(--text-title-);
  font-size: 1;
}

.hello {
  color: var(--text-hello-);
  font-size: 8.5rem;
}

.bio {
  color: var(--text-bio-);
  font-size: 1rem;
  padding: 15px;
}

@media (min-width: 720px) {
  .header-textContainer {
    width: 562.5px;
  }

  .name {
    font-size: 3.125rem;
  }

  .title {
    font-size: 1.25rem;
  }

  .hello {
    font-size: 10.625rem;
  }

  .bio {
    font-size: 1.25rem;
  }
}

/* Darkmode */
.darkMode-mobile--container {
  display: block;
  position: absolute;
  left: 70px;
  top: 45px;
}

.fa-nav-icon {
  color: var(--darkMode-icon-);
  font-size: 2rem;
}

.fa-nav-icon:hover {
  color: var(--color-4-);
}

.fa-menu-icon {
  color: var(--darkMode-menu-icon-);
  font-size: 2rem;
}

@media (min-width: 720px) {
  .darkMode-mobile--container {
    display: none;
  }
  .fa {
    font-size: 1.3rem;
  }
}


/* Animista Library */
.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-3-24 12:31:52
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

/* VIBRATE */

/* ----------------------------------------------
 * Generated by Animista on 2022-3-24 13:1:13
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation vibrate-1
 * ----------------------------------------
 */
@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

.vibrate-1 {
  -webkit-animation: vibrate-1 0.3s linear 2 both;
  animation: vibrate-1 0.3s linear 2 both;
}

/* WOBBLE */

.wobble-hor-bottom {
  -webkit-animation: wobble-hor-bottom 0.8s both;
  animation: wobble-hor-bottom 0.8s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-3-24 13:5:37
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation wobble-hor-bottom
 * ----------------------------------------
 */
@-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

/* Swing in */
.swing-in-top-fwd {
  -webkit-animation: swing-in-top-fwd 0.5s
    cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-3-24 13:45:5
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation swing-in-top-fwd
 * ----------------------------------------
 */
@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}

/* Fade-in */

.slide-in-fwd-center {
  -webkit-animation: slide-in-fwd-center 0.4s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-3-29 9:45:52
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-fwd-center
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

/* Radial cursor*/
/* #mouse-circle {
  position: absolute;
  width: 10px;
  height: 10px;
  margin: -0px 0 0 -0px;
  border-radius: 50%;
  pointer-events: none;
  background-color: var(--color-5-);
  opacity: 0.5;
}

.navbar-contents li a:hover + #mouse-circle {
  background-color: var(--color-4-);
  width: 20px;
  height: 20px;
} */
