/* font import */
@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Color Palette */
:root {
  --color-white-: #fff;

  /* https://hookagency.com/blog/website-color-schemes/ */
  /* --color-1-: #12232e;
  --color-2-: #203647;
  --color-3-: #eefbfb;
  --color-4-: #4da8da;
  --color-5-: #007cc7; */

  /* https://hookagency.com/blog/website-color-schemes/ */
  /* --color-1-: #4d774e;
  --color-2-: #164a41;
  --color-3-: #dadada;
  --color-4-: #f1b24a;
  --color-5-: #9dc88d; */

  /* https://www.pinterest.com/pin/798614946435614249/ */
  /* --color-1-: #329d9c;
  --color-2-: #205072;
  --color-3-: #cff4d2;
  --color-4-: #7be495;
  --color-5-: #56c596; */

  /* https://colorhunt.co/palettes/popular */
  /* --color-1-: #222831;
  --color-2-: #393e46;
  --color-3-: #eeeeee;
  --color-4-: #00adb5;
  --color-5-: #00acb554; */

  /* https://visme.co/blog/website-color-schemes/ */
  --color-1-: #0b0c10;
  --color-2-: #1f2833;
  --color-3-: #c5c6c7;
  --color-4-: #66fcf1;
  --color-5-: #45a29e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  max-width: 100%;
  overflow: hidden;
}

html {
  /* background: linear-gradient(#1f2833, #1f283395),
    url("/assets/photos/space.jpg"); */
  background: linear-gradient(#1f2833, #1f283395),
    url("/assets/photos/mountain.jpg");
  /* background: linear-gradient(#164a4199, #164a4195),
    url("/assets/photos/working.jpg"); */
  /* background: linear-gradient(#203647, #20364795),
    url("/assets/photos/mountain.jpg"); */

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 0%;
  height: 100vh;
}

body {
  font-family: "Gemunu Libre", Arial, Helvetica, sans-serif;
  letter-spacing: 0.1rem;
  color: var(--color-white-);
  margin: 1rem 1.5rem;
}

/* Nav Bar */

.navbar-menu {
  display: none;
}

.navbar-social {
  display: none;
}

.navbar-logo--container {
  width: 75.4px;
  height: 23.2167px;
}
.logo {
  color: var(--color-4-);
}

.fa-bars {
  color: var(--color-5-);
}

.navbar-contents li,
.navbar-contents a {
  font-size: 0.75rem;
  text-decoration: none;
  color: var(--color-5-);
  font-size: 1.5rem;
}

.navbar-contents li:hover,
.navbar-contents a:hover,
.navbar-toggle {
  color: var(--color-4-);
  transition: all 0.3s ease 0s;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}

@media (min-width: 500px) {
  .navbar-contents li,
  .navbar-contents a {
    font-size: 1.2rem;
  }

  .navbar-toggle {
    display: none;
    align-items: center;
  }

  .navbar-menu {
    display: inline-block;
  }

  .navbar-social {
    display: inline-block;
  }

  .navbar-menu ul,
  .navbar-social ul {
    display: flex;
  }

  .navbar-contents li {
    padding: 0px 10px;
  }
}

/* Nav Menu */

.navMenu-background {
  display: none;
  position: absolute;
  z-index: 99;
  width: 100vw;
  height: 400px;
  background-color: var(--color-2-);
  top: 0;
  font-size: 2rem;
}

.navMenu-navItems ul li a {
  text-decoration: none;
  color: var(--color-3-);
}

.navMenu-socialItems ul {
  display: flex;
  flex-direction: row;
}

.navMenu-socialItems ul li a i {
  color: var(--color-3-);
}

/* Header */

.header-textContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 450px;
  height: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
}

.name {
  font-size: 2.5rem;
}

.title {
  color: var(--color-5-);
  font-size: 1;
}

.hello {
  color: var(--color-4-);
  font-size: 8.5rem;
}

.bio {
  color: var(--color-3-);
  font-size: 1rem;
}

/* ------------- Responsive Desktop ---------------- */
