/* font import */
@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Open+Sans:wght@300&display=swap");
/* Color Palette */
:root {
  --color-white-: #fff;

  /* https://hookagency.com/blog/website-color-schemes/ */
  --color-1-: #12232e;
  --color-2-: #203647;
  --color-3-: #eefbfb;
  --color-4-: #4da8da;
  --color-5-: #007cc7;

  /* https://hookagency.com/blog/website-color-schemes/ */
  /* --color-1-: #4d774e;
  --color-2-: #164a41;
  --color-3-: #dadada;
  --color-4-: #f1b24a;
  --color-5-: #9dc88d; */

  /* https://www.pinterest.com/pin/798614946435614249/ */
  /* --color-1-: #329d9c;
  --color-2-: #205072;
  --color-3-: #cff4d2;
  --color-4-: #7be495;
  --color-5-: #56c596; */

  /* https://colorhunt.co/palettes/popular */
  /* --color-1-: #222831;
  --color-2-: #393e46;
  --color-3-: #eeeeee;
  --color-4-: #00adb5;
  --color-5-: #00acb554; */

  /* https://visme.co/blog/website-color-schemes/ */
  /* --color-1-: #0b0c10;
  --color-2-: #1f2833;
  --color-3-: #c5c6c7;
  --color-4-: #66fcf1;
  --color-5-: #45a29e; */
}

:root[color-mode="dark"] {
  --color-white-: #fff;
  --color-1-: #12232e;
  --color-2-: #203647;
  --color-3-: #eefbfb;
  --color-4-: #4da8da;
  --color-5-: #007cc7;
}

:root[color-mode="light"] {
  --color-white-: #fff;
  --color-3-: #12232e;
  --color-2-: #203647;
  --color-1-: #eefbfb;
  --color-4-: #4da8da;
  --color-5-: #007cc7;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  max-width: 100%;
}

body {
  font-family: "Gemunu Libre", Arial, Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: 0.1rem;
  color: var(--color-white-);
  margin: 1rem 1.5rem;
}

body {
  background: linear-gradient(#1f2833, #1f283395),
    url("/assets/photos/space.jpg");
  /* background: linear-gradient(#eefbfb99, #4da8da99),
    url("/assets/photos/space_lightMode.jpg"); */
  /* background: linear-gradient(#164a4199, #164a4195),
    url("/assets/photos/working.jpg"); */
  /* background: linear-gradient(#203647, #20364795),
    url("/assets/photos/mountain.jpg"); */

  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  height: 100vh;
  max-height: 100%;
}

/* Header */

.header-textContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 450px;
  height: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
}

.name {
  font-size: 2.5rem;
}

.title {
  color: var(--color-5-);
  font-size: 1;
}

.hello {
  color: var(--color-4-);
  font-size: 8.5rem;
}

.bio {
  color: var(--color-3-);
  font-size: 1rem;
  padding: 15px;
}

@media (min-width: 720px) {
  .header-textContainer {
    width: 562.5px;
  }

  .name {
    font-size: 3.125rem;
  }

  .title {
    font-size: 1.25rem;
  }

  .hello {
    font-size: 10.625rem;
  }

  .bio {
    font-size: 1.25rem;
  }
}

/* Darkmode */
.darkMode-toggle {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.fa-sun {
  color: var(--color-4-);
  font-size: 1.5rem;
}

/* Animista Library */
.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-3-24 12:31:52
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

/* VIBRATE */

/* ----------------------------------------------
 * Generated by Animista on 2022-3-24 13:1:13
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation vibrate-1
 * ----------------------------------------
 */
@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

.vibrate-1 {
  -webkit-animation: vibrate-1 0.3s linear 2 both;
  animation: vibrate-1 0.3s linear 2 both;
}

/* WOBBLE */

.wobble-hor-bottom {
  -webkit-animation: wobble-hor-bottom 0.8s both;
  animation: wobble-hor-bottom 0.8s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-3-24 13:5:37
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation wobble-hor-bottom
 * ----------------------------------------
 */
@-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

/* Swing in */
.swing-in-top-fwd {
  -webkit-animation: swing-in-top-fwd 0.5s
    cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-3-24 13:45:5
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation swing-in-top-fwd
 * ----------------------------------------
 */
@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}

/* Fade-in */

.slide-in-fwd-center {
  -webkit-animation: slide-in-fwd-center 0.4s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-3-29 9:45:52
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-fwd-center
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

/* Radial cursor*/
#mouse-circle {
  position: absolute;
  width: 10px;
  height: 10px;
  margin: -0px 0 0 -0px;
  border-radius: 50%;
  pointer-events: none;
  background-color: var(--color-5-);
  opacity: 0.5;
}

.navbar-contents li a:hover + #mouse-circle {
  background-color: var(--color-4-);
  width: 20px;
  height: 20px;
}
